mike
mkdocs==1.5.2
mkdocstrings[python]>=0.18
mkdocs-alias-plugin>=0.6.0
mkdocs-autorefs
mkdocs-bibtex
mkdocs-gen-files
mkdocs-git-revision-date-localized-plugin
mkdocs-jupyter
mkdocs-literate-nav
mkdocs-material
mkdocs-section-index
mkdocs-macros-plugin
neoteroi-mkdocs  # Needed for card grid on home page
pypandoc_binary
