griffe==0.42.1
mike==2.0.0
markdown-captions
mkdocs==1.5.3
mkdocstrings[python]>=0.24
mkdocs-alias-plugin>=0.6.0
mkdocs-autorefs==1.0.1
mkdocs-bibtex==2.14.1
mkdocs-gen-files
mkdocs-git-revision-date-localized-plugin
mkdocs-glightbox==0.3.7
mkdocs-literate-nav
mkdocs-material[imaging]==9.5.14
mkdocs-section-index==0.3.8
mkdocs-macros-plugin
mknotebooks==0.8.0
pygments
pypandoc; sys_platform == 'darwin'
pypandoc_binary; sys_platform != 'darwin'
GitPython
# Use for the binder link hook
beautifulsoup4
