tox<4.0.0
tox-wheel
-r requirements-linting.txt
-r requirements-type-checking.txt
bump2version==1.0.1
jupyter
nbconvert>=7.2.9
nbstripout == 0.6.1
pytest==7.4.2
pytest-cov
pytest-mock
pytest-timeout
pytest-lazy-fixture
pytest-xdist>=3.3.1
pytest-cases~=3.8
pytest-split
pytest-sugar
pytest-rerunfailures
nbmake
wheel
