tox<4.0.0
tox-wheel
pre-commit==3.1.1
black[jupyter] == 23.1.0
isort == 5.12.0
pylint==2.12.0
pylint-json2html
anybadge
mypy==1.5.1
types-tqdm
pandas-stubs
bump2version==1.0.1
jupyter
nbconvert>=7.2.9
nbstripout == 0.6.1
pytest==7.4.2
pytest-cov
pytest-mock
pytest-timeout
pytest-lazy-fixture
pytest-xdist>=3.3.1
pytest-profiling
pytest-cases~=3.8
wheel
twine==4.0.2
